# Out
*.pdf
*.png 
*.html

#General
archive/
tmp/
bak/
*.bak
doc/
logs/
*.[R][D][S]
*.log
*.fa
*.fa.gz
*.fasta
*.fastq
*.fastq.gz
*.tgz
*.RData
*.Rhistory
*.RDataTmp
*.Rproj
*.Rproj.user
.DS_Store
ILL_pipelines/
*fastqc*html
*fastqc.zip
*fastqc/
._*

radEmu_scores*
Maaslin2/

.Rproj.user

# tree files
dist_mx.tsv
*.mldist
*.nex
*.ckp.gz
