archive/
tmp/
bak/
*.bak
doc/
logs/
*.RDS
*.log
*.fa
*.fasta
*.fastq
*.fastq.gz
*.RData
*.Rhistory
*.RDataTmp
*.Rproj
*.Rproj.user
.DS_Store
ILL_pipelines/
*fastqc*html
*fastqc.zip
*fastqc/


radEmu_scores*
Maaslin2/

.Rproj.user
